<h2 class="page-header">Find friend</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form method="post" action="/users/findfriend">
   <div class="form-group">
    <label>Enter friend's username</label>
    <input type="text" class="form-control" placeholder="Friend" name="friend">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
